/* Add this to your existing style.css or in the head section of your HTML */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Mukta', sans-serif;
   
}
.navbar{
    height: 10%;
    /* background-color: darkgrey; */
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.name-text{
    line-height: 1.2;

}
.name-text h4{
    font-size:25px;
}
#close-btn,#menu-btn{
    display: none;
}
#menu ul{
    display: flex;
    justify-content: space-evenly;
}
#menu ul li{
    list-style: none;
    margin: 0 25px;
    /* line-height: 3.5; */
}
#Contact-btn{
    font-weight: 600;
    border-radius: 50px;
    margin: 0px 25px;
    padding: 8px;
}
.active{
    display: flex;
}
 /* ++++++++++++++++++++++++++++++++++ */
 .mainpage{
    height: 80%;
    display: flex;
    /* background-color: cadetblue; */
    justify-content: space-around;
 }
 .intro-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8%;
    width: 50%;
 }
 .intro-part h2{
    font-size: 5vmax;
    line-height: 10vh;

 }
 .intro-part h4{
    font-size: 2vmax;
 }
 .intro-part h3{
    font-size: 3vmax;

 }
 .intro-part p{
    padding: 3vh 0vh;
 }
 .profile-part{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
 }
 .profile-part img{
    width: 60%;
    height: 90%;
    object-fit: cover;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
 }
#download-btn{
    padding: 10px;
    width: 35%;
}
@keyframes animate{
    0%,100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}
/* Resppnsive ness  */
@media screen and (max-width: 767px) {
    body{
        .navbar{
            justify-content: space-between;
            padding: 10px;
        }
        #menu-btn{
            display: flex;
            font-size: 40px;
            padding: 5px 10px;
            font-weight: 900; 

            justify-content: end;
        }
        #close-btn{
            display: flex;
            justify-content: end;
            /* background-color: bisque; */
            font-size: 45px;
            padding: 9px 18px;
            font-weight: 900; 
        }
        #menu{
            display:flex;
            flex-direction: column;
            position: fixed;
            z-index: 999;
            background-color: aliceblue;
            /* background-color: cornflowerblue; */
            top: 0vmax;
            right: -50vmax;
            height: 70vmax;
            width: 30vmax;
            transition: 0.5s;

        }
        #menu ul{
            padding: 25px 0px;
            display: block;
            
        }
        #Contact-btn{
            padding: 10px 25px;
            font-weight: 600;
            border-radius: 50px;
            font-size: 15px;
            margin: 15px 25px;

        }
        #menu ul li{
            list-style: none;
            margin: 10px 25px;
            /* line-height: 3.5; */
        }
        #menu ul li a{
            font-size: 30px;
            padding: 50px 25px;
            transition: 0.3s;
        }
        #menu ul li:hover{
            border-radius: 15px;
            background-color: aliceblue;
        }
        .mainpage{
            display: flex;
            flex-direction: column-reverse;
        }
        .profile-part{
            width: 100%;
        }
        .intro-part{
            width: 100%;
        }
        .intro-part h2{
            line-height: 5vh;
        }


    }
}